// Define variables for your color scheme

// For example:
$pink: hotpink;
$blue: lightskyblue;
$yellow: #FFC65A;
$gray: grey;
$shadow: rgba(0,0,0,0.2);

//for boostrap
$light-gray: rgba(0,0,0,0.2);
$red: red;
$orange: orange
