<p><%=@scores%></p>
<p><%= @params %></p>
<form action="/new" method = "get" onsubmit="setTimeout(()=>{window.location.reload();},1000);" data-turbo="false">
  <button id = "retry" class = "btn btn-success">Try Again</button>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
